<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{tabTitle}}</title>
    <link rel="stylesheet" href="/{{fileCss}}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://infolibros.org/wp-content/uploads/2019/02/cropped-Favicon-Infolibros-192x192.png"
    />
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body>
    <main data-theme="dark">

      {{{body}}}

    </main>
  </body>

  <script
    src="https://kit.fontawesome.com/44ffd201c7.js"
    crossorigin="anonymous"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/toastify-js"
  ></script>
</html>