<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{tabTitle}}</title>

    <!-- Icons -->
    <link
      rel="icon"
      type="image/x-icon"
      href="https://infolibros.org/wp-content/uploads/2019/02/cropped-Favicon-Infolibros-192x192.png"
    />

    <!-- MetaTags -->
    <meta
      name="description"
      content="Bookify Store is a web application that allows you to buy books in real time, chat with other users and more."
    />
    <meta
      name="keywords"
      content="Bookify, Bookify Store, BookifyStore, BookifyStore.com, Bookify Store.com, BookifyStore.com, BookifyStore, Bookify Store, BookifyStore.com, BookifyStore.com, BookifyStore, Bookify Store, BookifyStore.com, BookifyStore.com, BookifyStore, Bookify Store, BookifyStore.com, BookifyStore.com, BookifyStore, Bookify Store, BookifyStore.com, BookifyStore.com, BookifyStore, Bookify Store, BookifyStore.com, BookifyStore.com, BookifyStore, Bookify Store, BookifyStore.com, BookifyStore.com, BookifyStore, Bookify Store, BookifyStore.com, BookifyStore.com, BookifyStore, Bookify Store"
    />
    <meta name="author" content="CodeGuez" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="3 month" />
    <meta name="language" content="English" />
    <meta name="generator" content="CodeGuez" />
    <meta name="rating" content="general" />
    <meta name="distribution" content="global" />
    <meta name="theme-color" content="#000000" />

    <!--Twitter-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@CodeGuez" />
    <meta name="twitter:creator" content="@CodeGuez" />
    <meta name="twitter:title" content="Bookify Store" />
    <meta
      name="twitter:description"
      content="Bookify Store is a web application that allows you to buy books in real time, chat with other users and more."
    />
    <meta
      name="twitter:image"
      content="https://infolibros.org/wp-content/uploads/2019/02/cropped-Favicon-Infolibros-192x192.png"
    />

    <!--Facebook-->
    <meta property="fb:admins" content="CodeGuez" />
    <meta property="fb:app_id" content="CodeGuez" />

    <!--Open Graph-->
    <meta property="og:title" content="Bookify Store" />
    <meta
      property="og:description"
      content="Bookify Store is a web application that allows you to buy books in real time, chat with other users and more."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://bookifystore.com" />
    <meta
      property="og:image"
      content="https://infolibros.org/wp-content/uploads/2019/02/cropped-Favicon-Infolibros-192x192.png"
    />
    <meta property="og:image:width" content="192" />
    <meta property="og:image:height" content="192" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:alt" content="Bookify Store" />
    <meta property="og:image:secure_url" content="https://bookifystore.com" />
    <meta property="og:site_name" content="Bookify Store" />
    <meta property="og:locale" content="en_US" />

    <!--Styles-->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link href="/css/output.css" rel="stylesheet" />
  </head>

  <body class="text-gray-400 bg-gray-900">
    <main>

      <header class="text-gray-400 bg-gray-900 body-font">
        <div
          class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
        >
          <a
            class="flex title-font font-medium items-center text-white mb-4 md:mb-0"
            href="/"
          >

            <svg
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-10 h-10 text-white p-2 bg-green-500 rounded-full"
              xmlns="http://www.w3.org/2000/svg"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g><g id="SVGRepo_iconCarrier">
                <path
                  d="M4 8C4 5.17157 4 3.75736 4.87868 2.87868C5.75736 2 7.17157 2 10 2H14C16.8284 2 18.2426 2 19.1213 2.87868C20 3.75736 20 5.17157 20 8V16C20 18.8284 20 20.2426 19.1213 21.1213C18.2426 22 16.8284 22 14 22H10C7.17157 22 5.75736 22 4.87868 21.1213C4 20.2426 4 18.8284 4 16V8Z"
                  stroke="#ffffff"
                  stroke-width="1.5"
                ></path>
                <path
                  d="M19.8978 16H7.89778C6.96781 16 6.50282 16 6.12132 16.1022C5.08604 16.3796 4.2774 17.1883 4 18.2235"
                  stroke="#ffffff"
                  stroke-width="1.5"
                ></path>
                <path
                  d="M7 16V2.5"
                  stroke="#ffffff"
                  stroke-width="1.5"
                  stroke-linecap="round"
                ></path>
              </g></svg>

            <span class="ml-3 text-xl">Bookify Store</span>
          </a>
          <nav
            class="md:ml-auto flex flex-wrap items-center text-base justify-center"
          >
            <a class="mr-5 hover:text-white" href="/realtimebooks">Real Time</a>
            <a class="mr-5 hover:text-white" href="/chat">Chat</a>
          </nav>
          <a href="/cart">
            <button
              class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0"
            >Cart
              <i class="fa-solid fa-cart-shopping ml-3"></i>
            </button>
          </a>
        </div>
      </header>

      {{{body}}}

      <footer class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap md:text-left text-center order-first">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2
                class="title-font font-medium text-white tracking-widest text-sm mb-3"
              >USEFUL LINKS</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-400 hover:text-white">Real Time</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Store</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Chat</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2
                class="title-font font-medium text-white tracking-widest text-sm mb-3"
              >SOCIAL</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-400 hover:text-white">X</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">LinkedIn</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 hidden lg:block px-4"></div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2
                class="title-font font-medium text-white tracking-widest text-sm mb-3"
              >SUBSCRIBE</h2>
              <div
                class="flex xl:flex-nowrap md:flex-nowrap lg:flex-wrap flex-wrap justify-center items-end md:justify-start"
              >
                <div
                  class="relative w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2"
                >
                  <label
                    for="footer-field"
                    class="leading-7 text-sm text-gray-400"
                  >Email</label>
                  <input
                    type="text"
                    id="footer-field"
                    name="footer-field"
                    class="w-full bg-gray-800 rounded border bg-opacity-40 border-gray-700 focus:bg-transparent focus:ring-2 focus:ring-green-900 focus:border-green-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                  />
                </div>
                <button
                  class="lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded"
                >Suscribe</button>
              </div>
              <p
                class="text-gray-500 text-sm mt-2 md:text-left text-center"
              >Want to get the latest news, tips, and deals on books? Subscribe
                to our newsletter
              </p>
            </div>
          </div>
        </div>
        <div class="bg-gray-800 bg-opacity-75">
          <div
            class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col"
          >
            <a
              class="flex title-font font-medium items-center md:justify-start justify-center text-white"
            >
              <svg
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-10 h-10 text-white p-2 bg-green-500 rounded-full"
                xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g><g id="SVGRepo_iconCarrier">
                  <path
                    d="M4 8C4 5.17157 4 3.75736 4.87868 2.87868C5.75736 2 7.17157 2 10 2H14C16.8284 2 18.2426 2 19.1213 2.87868C20 3.75736 20 5.17157 20 8V16C20 18.8284 20 20.2426 19.1213 21.1213C18.2426 22 16.8284 22 14 22H10C7.17157 22 5.75736 22 4.87868 21.1213C4 20.2426 4 18.8284 4 16V8Z"
                    stroke="#ffffff"
                    stroke-width="1.5"
                  ></path>
                  <path
                    d="M19.8978 16H7.89778C6.96781 16 6.50282 16 6.12132 16.1022C5.08604 16.3796 4.2774 17.1883 4 18.2235"
                    stroke="#ffffff"
                    stroke-width="1.5"
                  ></path>
                  <path
                    d="M7 16V2.5"
                    stroke="#ffffff"
                    stroke-width="1.5"
                    stroke-linecap="round"
                  ></path>
                </g></svg>
              <span class="ml-3 text-xl">Bookify Store</span>
            </a>
            <p class="text-sm text-gray-400 sm:ml-6 sm:mt-0 mt-4">© 2024 Bookify
              Store —
              <a
                href="https://twitter.com/knyttneve"
                class="text-gray-500 ml-1"
                target="_blank"
                rel="noopener noreferrer"
              >@CodeGuez</a>
            </p>
            <span
              class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
            >
              <a class="ml-3 text-gray-400">
                <i class="fa-brands fa-x-twitter text-2xl"></i>
              </a>
              <a class="ml-3 text-gray-400">
                <i class="fa-brands fa-linkedin text-2xl"></i>
              </a>
            </span>
          </div>
        </div>
      </footer>
    </main>
  </body>

  <script
    src="https://kit.fontawesome.com/44ffd201c7.js"
    crossorigin="anonymous"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/toastify-js"
  ></script>
</html>